@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Jockey+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    scroll-behavior: smooth;
    background-color: #f5f5f5;
    /* scroll-padding-top: var(--scroll-padding, 90px); */
}
header{
    background-color: #ffffff;
    height: auto;
    width: 100%;
    padding-top: .8em;
    padding-bottom: .4em;
    position: fixed;
    z-index: 1;
}
#header-contents{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#logo{
    width: 100px;
    height: 50px;
}
#logo img{
    max-width: 100%;
    width: 100%;
}
.hamburger-menu{
    position: fixed;
    right: 21px;
    top: 1rem;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.line{
    width: 30px;
    height: 3px;
    background-color: #000000;
    border-radius: 20%;
    transition: all .8s;
}
.change .line-1{
    transform: rotate(-405deg) translate(-4.5px, 7px);
}
.change .line-2{
    opacity: 0;
}
.change .line-3{
    transform: rotate(405deg) translate(-4.5px, -7px);
}
.navbar{
    width: 150px;
    height: 100%;
    background-color: #d9d9d9;
    /* border-radius: 0 0 0 60%; */
    position: fixed;
    right: -100%;
    top: 0;
    transition: .6s;
}
.change{
    right: 0;
}
.nav-list{
    padding-top: 2.5em;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nav-item{
    list-style: none;
}
.nav-link{
    color: #070707;
    text-decoration: none;
    font-size: 1.1rem;
    text-align: right;
    position: relative;
    padding: 3px 0;
}
.nav-link::after, .nav-link::before{
    content: "";
    background-color: #eeac00;
    width: 100%;
    height: 2px;
    transition: .5s;
    position: absolute;
    right: 0;
    transform: scaleX(0) 
}
.nav-link::after{
    bottom: 0;
    transform-origin: right;
}
.nav-link::before{
    top: 0;
    transform-origin: left;
}
.nav-link:hover::before,
.nav-link:hover::after{
    transform: scaleX(1);
}
main{
    height: 100vh;
    width: 100%;
}
#intro{
    width: 100%;
    height: 383px;
    position: relative;
}
.intro-bg{
    width: 230px;
    height: 310px;
    background-color: rgba(17, 17, 17, .8);
    border-radius: 0 10px 10px 0;
    position: absolute;
    left: 0px;
    top: 70px;
}
.intro-contents-container{
    width: 100vw;
    height: auto;
}
.intro-contents{
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
}
.healthyEating-and-family{
    max-width: 100%;
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: space-between;
}
.family-wrapper{
    display: flex;
    align-items: flex-end;
    overflow: visible;
    transform: translateX(-12px);
}
.healthy-eating{
    border-radius: 10px 10px 0  10px;
    width: 165px;
    min-width: 165px;
    height: 160px;
    padding-top: .8em;
    padding-left: .5em;
    background: linear-gradient(315deg, transparent, rgba(17, 17, 17, 0.8));
}
.healthy-eating h4{
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Averia Sans Libre', cursive;
    font-size: 9px;
    font-weight: 400;
    line-height: 16px;
}
.heading{
    position: relative;
}
.heading::after{
    content: "";
    height: 1px;
    margin-left: 2px;
    width: 28px;
    background-color: hsla(43, 100%, 47%, 0.7);
    position: absolute;
}
.healthy-eating-info{
    height: auto;
    width: 140px;
}
.healthy-eating h2{
    color: hsla(43, 100%, 47%, 0.7);
    font-weight: 400;
    line-height: 20px;
    font-family: 'Jockey One', sans-serif;
    font-size: 17px;
}
.healthy-eating p{
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Averia Sans Libre', cursive;
    font-size: 8px;
    line-height: 13px;
}
.family{
    width: 182px;
    min-width: 182px;
    height: 136px;
    background: linear-gradient(315deg, transparent, hsla(43, 98%, 48%, 0.4));
    border-radius: 10px;
    padding: 13px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.family-img{
    width: 100%;
    height: 100%;
}
.family-img img{
    width: inherit;
    max-width: 100%;
    border-radius: 10px;
}
.intro-cards{
    transform: translateY(-16.5px);
    width: 98%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 24%;
    height: 80px;
    background: #D9D9D9;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: .3em 0;
}
.card-info{
    width: 100%;
}
.card-info h5, p{
    text-align: center;
}
.card-info h5{
    font-size: 6px;
    font-weight: 400;
    line-height: 12px;
    font-family: 'Jockey One', sans-serif;
}
.card-info p{
    font-size: 7px;
    font-family: 'Averia Sans Libre', cursive;
    font-weight: 400;
}
.card-img{
    width: 10px;
    height: 17px;
    margin: 0 auto;
}
.healthy-eating-vector{
    transform: translateY(-6px);
    background-color: transparent;
    transform: scaleX(100px);
    transform: translateX(5px);
    transform: translateY(-6px);
    width: 11px;
    height: 7px;
    z-index: 3;
    background-color: #D9D9D9;
}
.first-img{
    height: 12px;
    border-width: 50% 50% 100% 100%;
    border: 1px solid hsla(43, 98%, 48%, 1);
    margin-bottom: 3px;
}
.other-img{
    width: 13px;
    height: 13px;
    margin-bottom: .19em;
}
.other-img img{
    width: inherit;
    height: inherit;
}
#Our-best-programs-section{
    width: 100%;
    height: auto;
}
.Our-best-programs{
    width: 100%;
    margin-top: 2em;
    height: 500px;
    background: linear-gradient(to right, #f5f5f5 0%, #f5f5f5 28.3%,  hsla(0, 0%, 7%, 0.6) 28.3%, hsla(0, 0%, 7%, 0.6) 100% );
}
.best-programs-contents{
    width: 90%;
    margin: 0 auto;
}
.best-programs-img{
    height: 150px;
    background: linear-gradient(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7)), url('./images/mana imgs including bgs/bestPrograms.jpeg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    color: hsla(43, 100%, 47%, 0.7);
    line-height: 40px;
    letter-spacing: 1px;
}
.weight-loss-container{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-end;
}
.weight-loss{
    width: 90%;
    height: 350px;
    display: flex;
}
.weight-loss-card-bg{
    width: 170px;
    height: 150px;
    background: linear-gradient(139.69deg, rgba(238, 172, 0, 0.5) 36.23%, rgba(238, 172, 0, 0) 81.16%);
    border-radius: 10px;
    padding: 7px 5px 7px 5px;
}
.weight-loss-card{
    margin: auto;
    width: 150px;
    height: 130px;
    border-radius: 10px;
    background-color: hsla(0, 0%, 23%, 1);
    padding: 6px 4px 6px 4px;
}
.weight-loss-card h2{
    color: hsla(0, 0%, 100%, 1);
    font-size: 12px;
    text-align: left;
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
}
.weight-loss-card p{
    color: hsla(0, 0%, 100%, .8);
    font-size: 8px;
    font-family: 'Averia Sans Libre', cursive;
}
.full-schedule{
    display: flex;
    justify-content: center;
}
.weight-loss-card button{
    color: hsla(43, 98%, 48%, 0.8);
    background: none;
    border: none;
    font-size: 11px;
    font-family: 'Jockey One', sans-serif;
}