@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Jockey+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html,
body {
    scroll-behavior: smooth;
    background-color: #f5f5f5;
    width: 100%;
    min-width: 100%;
    /* overflow-x: hidden; */
    /* scroll-padding-top: var(--scroll-padding, 90px); */
}

header {
    background-color: #ffffff;
    width: 100%;
    padding-top: .8em;
    padding-bottom: .4em;
}

#header-contents {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#logo img {
    max-width: 100%;
}

.hamburger-menu {
    position: sticky;
    right: 73px;
    top: 1.7rem;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 7;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #000000;
    border-radius: 20%;
    transition: all .8s;
}

.change .line-1 {
    transform: rotate(-405deg) translate(-4.5px, 7px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotate(405deg) translate(-4.5px, -7px);
}


.change .nav-list {
    right: 0;
}

.list-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    width: 150px;
    height: 100%;
    background-color: #d9d9d9;
    position: fixed;
    right: -100%;
    top: 0;
    transition: .6s;
    padding-top: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.nav-item {
    list-style: none;

}

.nav-link {
    color: hsla(0, 0%, 23%, 1);
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Averia Sans Libre', cursive;
    font-weight: 400;
    position: relative;
    padding:  .5em 0;
}

.nav-link::after,
.nav-link::before {
    content: "";
    background-color: #eeac00;
    width: 100%;
    height: 2px;
    transition: .5s;
    position: absolute;
    right: 0;
    transform: scaleX(0)
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}



#intro {
    width: 100%;
    margin-bottom: 40px;
}

.intro-bg {
    width: 70%;
    min-width: 35em;
    /* height: 57.62em; */
    background-color: rgba(17, 17, 17, .8);
    border-radius: 0 25px 25px 0;
    /* position: absolute; */
    /* left: 0px; */
    /* top: 70px; */
}

.intro-contents-container {
    width: 100vw;
    /* height: auto; */
}

.intro-contents {
    width: 90%;
    /* height: auto; */
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.healthyEating-and-family {
    max-width: 100%;
    width: 100%;
    height: 600px;
    display: flex;
}

.healthy-eating {
    border-radius: 25px 25px 0 25px;
    width: 35em;
    min-width: 120px;
    height: 25em;
    padding-top: 50px;
    padding-left: 28px;
    background: linear-gradient(315deg, transparent, rgba(17, 17, 17, 0.8));
    transform: translateX(-100%);
    animation-name: display-healthy-eating;
    animation-delay: .2s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes display-healthy-eating {
    0% {
        transform: translateX(-50%)
    }

    100% {
        transform: translateX(0%);
    }
}

.healthy-eating h4 {
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.88rem;
}

.heading {
    position: relative;
}

.heading::after {
    content: "";
    height: 3px;
    border-radius: 2p;
    margin-left: 10px;
    width: 58px;
    background-color: hsla(43, 100%, 47%, 0.7);
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    animation-name: display-underline;
    animation-fill-mode: forwards;
    animation-duration: 5s;
}

@keyframes display-underline {
    0% {}

    100% {
        transform: scaleX(1);
    }
}

.healthy-eating-info {
    /* height: auto; */
    width: 36.12rem;
    min-width: 20em;
}

.healthy-eating h2 {
    color: hsla(43, 100%, 47%, 0.7);
    font-weight: 400;
    line-height: 5.62rem;
    font-family: 'Jockey One', sans-serif;
    font-size: 3.75em;
}

.healthy-eating p {
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.12em;
    line-height: 2.06rem;
    text-align: left;
}

.family {
    width: 660px;
    min-width: 182px;
    /* height: 485px; */
    background: linear-gradient(315deg, transparent, hsla(43, 98%, 48%, 0.4));
    border-radius: 25px;
    padding: 33px 30px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    transform: translateX(-20px);
}

.family-img {
    width: 100%;
    height: 100%;
}

.family-img img {
    width: inherit;
    max-width: 100%;
    border-radius: 25px;
}

.intro-cards {
    transform: translateY(-60px);
    width: 98%;
    /* height: auto; */
    display: flex;
    justify-content: space-between;
}

.card {
    width: 24%;
    /* height: 245px; */
    background: #D9D9D9;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 30px 0;
    transition-duration: .3s;
}

.card:hover {
    transform: scale(1.026);
}

.card-info {
    width: 100%;
    /* margin-top: 2p; */
}

.card-info h5,
p {
    text-align: center;
    font-size: 20px;
    /* line-height: 30px; */
}

.card-info h5 {
    /* font-size: 6px; */
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 42px;
    font-family: 'Jockey One', sans-serif;
}

.card-info p {
    /* font-size: 7px; */
    font-family: 'Averia Sans Libre', cursive;
    font-weight: 400;
}

.card-img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.healthy-eating-vector {
    transform: translateY(-6px);
    background-color: transparent;
    width: 30px;
    height: 30px;
    align-self: center;
    justify-self: flex-start;
    z-index: 3;
    background-color: #D9D9D9;
}

.first-img {
    height: 40px;
    padding: 10px;
    border: 3px solid hsla(43, 98%, 48%, 1);
    margin-bottom: 3px;
    display: flex;
}

.other-img {
    width: 40px;
    height: 40px;
    margin-bottom: .19em;
}

.other-img img {
    width: 20;
    height: 20;
}

#Our-best-programs-section {
    width: 100%;
    height: 1700px;
    margin-top: 60px;
    /* border: 2px solid red; */
}

.Our-best-programs {
    width: 100%;
    /* margin-top: 2em; */
    height: 1135px;
    background: linear-gradient(to right, #f5f5f5 0%, #f5f5f5 28.3%, hsla(0, 0%, 7%, 0.6) 28.3%, hsla(0, 0%, 7%, 0.6) 100%);
    /* border: 2p solid green; */
}

.best-programs-contents {
    width: 90%;
    margin: 0 auto;
}

.best-programs-img {
    height: 400px;
    background: linear-gradient(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7)), url('./images/mana imgs including bgs/bestPrograms.jpeg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    color: hsla(43, 100%, 47%, 0.7);
    line-height: 40px;
    letter-spacing: 1px;
}

.best-programs {
    display: none;
    animation: fadeEffect 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.weight-loss-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-end;
    /* border: 2p solid blue; */
}

.weight-loss {
    width: 95%;
    height: 780px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-45px);
    /* border: 2p solid blue; */
}

.weight-loss-card-bg {
    width: 423px;
    height: 365px;
    background: linear-gradient(139.69deg, rgba(238, 172, 0, 0.5) 36.23%, rgba(238, 172, 0, 0) 81.16%);
    border-radius: 25px;
    padding: 26px;
}


.weight-loss-card {
    margin: auto;
    width: 350px;
    height: 310px;
    border-radius: 25px;
    background-color: hsla(0, 0%, 23%, 1);
    padding: 20px;
}

.weight-loss-card h2 {
    color: hsla(0, 0%, 100%, 1);
    font-size: 30px;
    text-align: left;
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
}

.weight-loss-programs {
    position: relative;
    padding-bottom: 5px;
}

.weight-loss-programs::after {
    content: "";
    position: absolute;
    background-color: hsla(43, 100%, 47%, 0.7);
    height: 3px;
    width: 70px;
    margin-left: 7px;
    margin-top: 2p;
    border-radius: 2p;
}

.weight-loss-card p {
    color: hsla(0, 0%, 100%, .8);
    font-size: 20px;
    font-family: 'Averia Sans Libre', cursive;
    margin-top: 5px;
}

.full-schedule {
    display: flex;
    justify-content: center;
}

.weight-loss-card a {
    color: hsla(43, 98%, 48%, 0.8);
    font-size: 25px;
    font-family: 'Jockey One', sans-serif;
    text-decoration: none;
    margin-top: .8em;
}

.weight-loss-card a:hover {
    text-decoration: underline;
}

.weight-loss-plan {
    width: 741px;
    height: 645px;
    align-self: flex-end;
    border-radius: 25px;
    background-color: hsla(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: space-between;
}


.weight-loss-nutrition-plan {
    width: 412px;
}

.weight-loss-nutrition-plan-img {
    width: 100%;
    height: 342px;
    border-radius: 25px;
    background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)), url('./images/mana imgs including bgs/nutritionPlan.jpeg') center/cover no-repeat;
    display: flex;
    justify-content: center;
}

.play {
    align-self: center;
    border: 3px solid hsla(43, 100%, 47%, 0.7);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play img {
    width: 34px;
    height: 34px;
}

.weight-loss-nutrition-plan-info {
    /* border: 2p solid red; */
    width: 370px;
    margin: 20px auto;
}

.styled-underlined-header {
    position: relative;
    margin-bottom: 40px;
    /* padding-bottom: 2p; */
}

.styled-underlined-header::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 59px;
    margin-left: 8px;
    background-color: hsla(43, 100%, 47%, 0.7);
    border-radius: 2p;
}

.weight-loss-plan h2 {
    color: hsla(0, 0%, 100%, 1);
    font-weight: 400;
    font-family: 'Jockey One', sans-serif;
    font-size: 30px;
    line-height: 25px;
    margin-bottom: 10px;
}

.weight-loss-plan p {
    color: hsla(0, 0%, 100%, 0.8);
    font-family: 'Averia Sans Libre', cursive;
    text-align: left;
    font-size: 20px;
}

.sample-headline {
    width: 290px;
    /* height: 300px; */
    margin-top: 40px;
    height: auto;
    /* border: 2p solid red; */
}

.eating-regular-meals-container {
    width: 90%;
    margin: 0 auto;
}

.eating-regular-meals-contents {
    /* border: 2p solid blue; */
    /* width: 1500px; */
    height: 800px;
    display: flex;
    transform: translateY(-300px);
}

.eating-regular-meals-img {
    width: 443px;
    height: 338px;
}

.eating-regular-meals-img img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    max-width: 100%;
}

.eating-regular-meals-info-bg {
    width: 700px;
    height: 450px;
    background: linear-gradient(139.69deg, rgba(238, 172, 0, 0.5) 36.23%, rgba(238, 172, 0, 0) 81.16%);
    border-radius: 25px;
    align-self: flex-end;
    padding: 50px 30px;
    overflow: visible;
    position: relative;
    right: 170px;
    animation-fill-mode: forwards;
}

body[data-aos = "fade-left"]{
    transform: translateX(-370px);
}

.eating-regular-meals-info {
    width: 620px;
    height: 360px;
    background-color: hsla(0, 0%, 23%, 1);
    border-radius: 25px;
    padding-left: 40px;
    padding-top: 20px;
    margin: 0 auto;
}

.eating-regular-meals-info-contents {
    width: 500px;

}

.styled-underlined-header2 {
    position: relative;
    margin-bottom: 20px;
}

.styled-underlined-header2::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 59px;
    margin-left: 8px;
    background-color: hsla(43, 100%, 47%, 0.7);
    border-radius: 2p;
}

.eating-regular-meals-info h2 {
    color: hsla(0, 0%, 100%, 1);
    font-size: 30px;
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
}

.eating-regular-meals-info p {
    font-size: 20px;
    color: hsla(0, 0%, 100%, 0.8);
    font-family: 'Averia Sans Libre', cursive;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}

.button button {
    border: none;
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    border-radius: 25px;
    /* width: 200px; */
    font-size: 1.5rem;
    background-color: hsla(43, 100%, 47%, 0.7);
    padding: .9em 1.5em;
    transition-duration: .4s;
}

.underline-txt-btn button:hover {
    text-decoration: underline;
}

#this-week-menu-section {
    width: 100%;
    /* height: 520px; */
    height: 100%;
    background-color: hsla(288, 3%, 3%, 0.7);
}

.this-week-menu-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.this-week-menu-info {
    /* width: 540px; */
    width: 50%;
    margin-top: 50px;
    padding-bottom: 1.7em;
}

.this-week-menu-info h2 {
    font-family: 'Jockey One', sans-serif;
    color: hsla(43, 100%, 47%, 0.7);
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 20px;
    /* line-height: 90px; */
}

.this-week-menu-info p {
    font-family: 'Averia Sans Libre', cursive;
    font-weight: 400;
    font-size: 20px;
    color: hsla(0, 0%, 100%, .8);
    text-align: left;
    line-height: 24px;
    margin-bottom: 20px;
}

.this-week-menu-img {
    /* width: 600px; */
    width: 50%;
    height: 600px;
    /* border: 2p solid red; */
}

.this-week-menu-img img {
    width: 100%;
    max-width: 100%;
    height: inherit;
    /* border: 2p solid red; */
}

#contact-us-section {
    margin-top: 70px;
    padding-bottom: 3em;
    /* height: 700px; */
    width: 100%;
    background: linear-gradient(rgba(7, 7, 7, 0.7), rgba(7, 7, 7, 0.7)),
        url('./images/mana imgs including bgs/contactUsremovebg.png') center/cover no-repeat;
}

.contact-us-contents {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}

form{
    display: inline-block;
}

form h2 {
    font-size: 60px;
    font-weight: 400;
    font-family: 'Jockey One', sans-serif;
    color: rgba(238, 172, 0, 0.7);
    line-height: 50px;
}

input {
    background-color: rgba(217, 217, 217, 0.7);
    border-radius: 25px;
    height: 70px;
    width: 600px;
    padding-left: 30px;
    border: none;
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Averia Sans Libre', cursive;
    color: rgba(0, 0, 0, 0.7);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

textarea {
    background-color: rgba(217, 217, 217, 0.7);
    border-radius: 25px;
    width: 600px;
    height: 130px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Averia Sans Libre', cursive;
    padding-left: 30px;
    padding-top: 20px;
    margin-top: 30px;
}

textarea::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.send-message-btn {
    margin-top: 1.88rem;
}

.bg-hover-effect button:hover {
    background: hsla(0, 0%, 100%, 1);
    color: hsla(43, 100%, 47%, 0.7);
    /* border: 3px solid hsla(43, 100%, 47%, 0.7); */
}

.error{
    color: rgb(221, 34, 34);
    font-weight: 400;
    font-family: 'Averia Sans Libre', cursive;
    text-align: right;
}

#get-started{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    display: flex;
    margin-top: 4.38rem; 
}

.get-started-img{
    width: 50%;
}

.get-started-img img{
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.get-started-info{
    padding: 3rem 0 2rem 2rem;
    width: 50%;
}

.get-started-info-contents{
    width: 30rem;
}

.get-started-info h2{
    color: rgba(255, 255, 255, 0.8);
    font-size: 3.95rem;
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
}

.get-started-btn{
    margin-top: 3em;
}

footer{
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.7);
    margin-top: 4.38rem;
    padding-top: 4em;
    padding-bottom: .6em;
}

.footer-contents{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.footer-logo{
    width: 50%;
}
.footer-logo p{
    width: 80%;
    text-align: left;
    color: hsla(0, 0%, 100%, 0.8);
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.footer-logo img{
    filter: brightness(0) invert(1);
    transform: scale(0.7);
    margin-left: -2.3em;
    text-align: left;
}

.contact-and-navigation{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 300px;
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.25rem;
}

.contact{
    width: 40%;
}

.navigation{
    width: 40%;
    justify-self: flex-end;
}
.contact-and-navigation h5{
    margin-bottom: 1.1em;
    font-weight: 400;
}

.contact p{
    margin-top: 1.2em;
    text-align: left;
    font-weight: 400;
}

.navigation a{
    margin-top: 1.2em;
    text-align: left;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 1);
    text-decoration: none;
    transition: .8s;
    display: block;
}

.navigation a:hover{
    text-decoration: underline;
}

.copyright{
    margin-top: 8em;
}